

<style type="text/css">
  .card {
    width: 350px;
    margin: auto;
    margin-top: 20px;
    background-color: darkseagreen;
    
    }
.card-h {
    width: 250px;
    margin: auto;
    
    background-color:khaki;
 
       }
.descrip{
  width: 350px;
    margin: auto;
    margin-top: 20px;
    background-color: khaki;
    border:1px solid turquoise;
    text-align: center;
    align-content: center;
  }

.header-image {
    background-size: cover;
}

.mat-card-header{
    background-color:lavender;
    padding-top: 10px;
   
}

.mat-card-title{
    text-transform: uppercase;
    color: rgb(8, 19, 20);
}

.mat-card-subtitle{
    color: rgb(11, 83, 83);
}
  </style>

<mat-card class="card">
  
    <mat-card-header class="card-h">
      <img  mat-card-avatar class="header-image"  src="{{pokemonImg}}"> 
      <mat-card-title><H1>{{pokemon.name}}</H1></mat-card-title>
      <mat-card-subtitle>Nº {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src="{{pokemonImg}}" alt="pokemon">
  
    <mat-card-content class="descrip">
      <mat-chip-list>
        <mat-chip color="">Clase: {{pokemonType}}</mat-chip>
        <mat-chip color="">Height: {{pokemon.height}}</mat-chip>
        <mat-chip color="">Weight: {{pokemon.weight}}</mat-chip>
        <mat-chip color="">Habilidad Oculta: {{pokemonAbiliti}}</mat-chip>
        <mat-chip color="">Habilidad Primaria: {{pokemonAbiliti2}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  
  </mat-card>
